.content {
  margin: 20px auto;
  max-width: 900px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

html,
body {
  font-family: sans-serif;
  background-color: rgb(203, 229, 255);
}

html.html2,
html.html2 body {
  background-color: rgb(64, 216, 233);
}

.image {
  width: 100%;
  height: auto;
  max-width: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin: 0 auto;
}

.body2 {
  background-color: rgb(240, 185, 255);
  font-family: serif;
}
